{% extends "home/base.html" %}


{% block content %}

<div class="content">
  <div>
    <h1 style="border: solid;text-align: center;">
      <div>Projects List</div>
    </h1>
  </div>
  <a href="{% url 'projects_module:registration' %}"><button>ADD Project</button></a>
  <br>
  
  <div>
    <br>
    
    <table>
      <tr>
        <th>Project Name</th>
        <th>Client</th>
        <th>PO NUMBER</th>
        <th>WO NUMBER</th>
        <th>Estimated Cost</th>
        <th>Delivery Date</th>
        
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    {% for item in project_list %}
    
      <tr>
        <td>{{item.project_name}}</td>
        <td>{{item.client_name}}</td>
        <td>{{item.PO_number}}</td>
        <td>{{item.wo_number}}</td>
        <td>{{item.projected_cost}}</td>
        <td>{{item.cdd}}</td>
        
        <td><a href="{% url 'projects_module:edit_view' item.id %}"><button>EDIT</button></a></td>
        <td><a href="{% url 'projects_module:delete_view' item.id %}"><button>DELETE</button></a></td>
      </tr>
    
      
    {% endfor %}
    </table>
  </div>
  
</div>

{% endblock %}
