{% extends "home/base.html" %}


{% block content %}


<div class="content">
  <a style="text-decoration:none" href="{% url 'projects_module:editanddelete' %}"><h1 style="border: solid; text-align: center;">Projects</h1></a>
  <h2>Register Your New Projects Here ..</h2>
  <br>
  <div>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="fields">
        <label for="project_name">Project Name : </label>
        <input style="width: 500px" type="text" name="project_name" id="project_name" placeholder="Please entre project name " required>
      </div>
      <br>
      <div class="fields">
        <label for="project_date">Project Date : </label>
        <input style="width: 500px" type="date" name="project_date" id="project_date" placeholder="Please entre project start date " required>
      </div>
      <br>
      <div class="fields">
        <label for="PO_number">PO Number : </label>
        <input style="width: 500px" type="number" name="PO_number" id="PO_number" placeholder="Please entre purchase order number " required>
      </div>
      <br>
      <div class="fields">
        <label for="client_name">Client Name : </label>
        <input style="width: 500px" type="text" name="client_name" id="client_name" placeholder="Please entre client name " required>
      </div>
      <br>
      <div class="fields">
        <label for="wo_number">Work Order Number : </label>
        <input style="width: 500px" type="text" name="wo_number" id="wo_number" placeholder="Please entre work order number " required>
      </div>
      <br>
      <div class="fields">
        <label for="projected_cost">Estimated Project Cost : </label>
        <input style="width: 500px" type="number" name="projected_cost" id="projected_cost" placeholder="Please entre Estimated Project cost " required>
      </div>
      <br>
      <div class="fields">
        <label for="cdd">Commited Delivery Date : </label>
        <input style="width: 500px" type="date" name="cdd" id="cdd" placeholder="Please entre CDD " required>
      </div>
      <br>
      <input type="submit" >



      
    </form>
  </div> 
  
</div>

{% endblock %}




